@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<body class="errorbody">
    <img class="img-responsive" src="http://i.imgur.com/38dmMmp.png" />
    <container class="CenterError">

        @*<h1 class="text-danger">!!!!ERROR!!!!</h1>
            <h2 class="text-danger">
                Something went wrong. I have no idea what went wrong thus this simple error page. <br />
                Please don't fire me, I tried
            </h2>*@
        
        <div class="row">
            <div class="col-lg-12">
                <h2>Return to<a href="~/Image/Index"> Website</a></h2>
            </div>
        </div>
    </container>
</body>
