@model IEnumerable<KRAM1.Models.Picture>
@{
    ViewBag.Title = "HashImg";
}

<div class="grid">
    @foreach(var img in ViewBag.hash)
        {

        <div class="grid-sizer"></div>
            <div class="grid-item">
                <input type="hidden" value="@img.Id" />
                <a href='@Url.Action("FullImage", "Image", new { fileName = img.Id})'>
                    <img src="@Url.Content(img.PicUrl)" alt="Picture coming soon" />
                </a>
            </div>
        }
</div>

