@model IEnumerable<KRAM1.Models.Picture>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


    <div class="grid">
        @foreach(var img in Model.OrderBy(x => x.Id))
            {


            <div class="grid-sizer"></div>
            <div class="grid-item">
                <input type="hidden" value="@img.Id" />
                <a href='@Url.Action("FullImage", "Default", new { fileName = img.Id})'>
                    <img src="@img.PicUrl" alt="Picture coming soon" />
                </a>
            </div>
            }
    </div>



