@model KRAM1.Models.Picture

@{
    ViewBag.Title = "Submit";
}
<center>
    <h2>Upload your image</h2>
    <button id="hideshowimage" class="astext">Upload Image via URL</button>
    <button id="hideshowfile" class="astext">Upload Image via File</button>
</center>
    <br />
    <div class="container" id="container">

        <div class="row">

            <div id='SubmitURLShow'style="visibility:hidden">
                <div class="col-lg-4" id="submitURL" >

                    <form method="post" action="@Url.Action("SubmitImgURL", "Image")">

                        <input type="text" name="SubmitImgURL" placeholder="img url" id="SubmitImgURL" />

                        <input type="text" onkeyup="nospaces(this)" name="tags" placeholder="Tag your picture" />@*<p id="error"></p>*@
                        <input type="reset" value="reset" class="btn-outline">
                        <input type="submit" class="btn-outline" />


                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <center><p>Please choose an image under 10mb</p></center>
            </div>
            <div class="col-lg-4">
                <div id='SubmitFileShow' style="visibility:hidden">
                    <form action="/Image/Upload" method="post" enctype="multipart/form-data" accept="image/*">
                        <img src="" width="250" style="display:none;" id="browseimg" />
                        <p id="filename" style="font-size:20px;"></p>
                        <label class="custom-file-upload" for="file">Click here to Upload Photo:<input type="file" name="file" id="file" class="custom-file-upload" /></label>
                        <br />
                        @Html.ValidationSummary(true, "Something went wrong. Please look over your submission again")
                        <input type="text" name="tags" onkeyup="nospaces(this)" placeholder="Tag your picture" />
                        @*<p id="error"></p>*@
                        <input type="reset" class="btn-outline btn-primary-outline" value="Reset">
                        <input type="submit" class="btn-outline btn-primary-outline" value="Confirm Upload" />



                    </form>
                </div>
                </div>

        </div>
    </div>
