@model IEnumerable<KRAM1.Models.FlickrModel>

@{
    ViewBag.Title = "Search results from Flickr";
}

<h2>Search results from Flickr</h2>

<div class="grid">


    @foreach (var img in Model.Take(50))
    {      <div class="grid-sizer"></div>


    <div class="grid-item">
        <img src="@Url.Content(img.PicUrl)" alt="Picture coming soon" />

    </div>
    }
</div>
