@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form action="/FlickrApi/FlickrSearch" method="GET">
            <input type="text" placeholder="Search" id="flickrSearchInput" value="" name="searchInput" />
            <button class="glyphicon glyphicon-search"></button>
        </form>
    </div>
    <div>
        <ul id="flickrSearchResults">

        </ul>
    </div>
    <script src="~/Scripts/FlickrSearchJS.js"></script>
</body>

</html>
