@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form action="/FlickrApi/FlickrSearch" method="get">
            <input id="flickrSearchInput" value="" type="text" />
            <button>Sök</button>
        </form>
    </div>
    <div id="flickrSearchResults">

    </div>
    <script src="~/Scripts/FlickrSearchJS.js"></script>
</body>

</html>
