#submitURL{
    margin-top:4em;
}
.astext {
    background:none;
    border:1px solid black;
    margin:0;
    padding:0;
}
.astext:hover {
    background:black;
    color:white;
    border:1px solid white;
    margin:0;
    padding:0;
}
.custom-file-upload {
     letter-spacing: 1px;
 text-transform: uppercase;
      border-radius:0;
	background: none;
	padding: 5px 5px;
    cursor: pointer;
    
     background-color:white;
     color:grey;
}

input[type="file"]:hover{
    letter-spacing: 1px;
    text-transform: uppercase;
      border-radius:0;
    background-color:black;
	padding: 5px 5px;
    cursor: pointer;
    color:red;

}
.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

.hashtag { 
   position: absolute; 
   top: 80%; 
   left: 0; 
   width: 100%; 
}
.hashtag span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}
#submitdiv{
    background-color:grey;
    padding:20px;
    border:2px solid black;
}
.btn-outline {
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius:0;
	background: none;
	padding: 5px 5px;
}


.btn-primary.outline {
    border-radius:0;
	color: #0099cc;
}
.error{
	display: none;
	margin-left: 10px;
}		

.error_show{
	color: red;
	margin-left: 10px;
}

/*////////////////////
/PROFILE PAGE*/
/*////////////////////

    /* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.col-fixed {
    /* custom width */
    width:320px;
}
.col-min {
    /* custom min width */
    min-width:320px;
}
.col-max {
    /* custom max width */
    max-width:320px;
}

#imgprofile {

    margin: 0 20px 20px 0;
    max-height:250px;
   vertical-align: middle;
    max-width:150px;
border-radius: 0px 10px 0px 10px;
-moz-border-radius: 0px 30px 0px 30px;
-webkit-border-radius: 0px 10px 0px 10px;
border: 0px solid #000000;

}
hr {
   	border-top: 1px dotted #8c8b8b;
}

.username {

    text-align: justify;
    text-indent: 2em;

}
#profilediv{
    font-family: 'Lora', serif;

color:black;
}
.middiv{
 position:relative;
   

}

.vertical-center-row{
    display: table-cell;
    vertical-align: middle;
}
li { list-style:none;
}

/*FulLImage*/
.datetime{
    font-size:11px;
    color:lightgrey;
}
.username-comments{
    /*color:black !important;*/
    color:#428bca;
}

.commentsmade{
    line-height:130%;
}

#commentList {
    border:1px solid grey;
    width:600px;
    max-height: 300px;
    overflow-y: scroll;
    word-break: break-all;
}


/*errorpage*/
.errorbody{
  

    background-color:#1173aa;
 
  background-size: 50% 50%;

}