@{
  
}
<h2 style="text-align:center;">@ViewBag.Title.</h2>
<div class="jumbotron col-lg-12">
   
   
</div>
<div class="row">
    <div class="col-lg-4">
        
        <p>Kram is the best place to share and enjoy the most awesome images on the Internet. Every day, millions of people use Kram to be entertained and inspired by funny, heartwarming and helpful images and stories from all around the world.</p>
        <br />
        <p>
            Kram was founded in 2016 by Karloskar, Mustafa, Rickard and Antonio in their University dorm room as a simple, no-limits platform to share images online.

            With the launch of the homepage gallery, Kram gave its community the power to refine its many images into a showcase of the freshest, most interesting and popular images on the web. These images can be hilarious, cute, inspiring and informative. From stories of personal transformation to current events, pop culture, memes and more, Kram has an image for everyone. Of course, there are plenty of cute puppies, too.

            Each month, images on Kram are viewed across the Internet billions of times. It is currently ranked one of the top 50 largest websites worldwide.
        </p>
    </div>
    <div class="col-lg-8 col-mg-6 col-sm-6 col-xs-12">
        <img class ="hejsan img-rounded"src="http://cdn.techworld.com/cmsdata/features/3610124/Software_developers_working_computer_thumb800.jpg" alt="Smiley face">
    </div>

</div>


