@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<center class="CenterError" style="text-align:center">
    <h1 class="text-danger">!!!!ERROR 404!!!!</h1>
    <h2 class="text-danger">You died, return to previous page and make another toss</h2>


    <div class="row">
        <div class="col-lg-12">
            <a class="btn btn-primary" href="~/Image/Index">
                <i class="fa fa-bars" aria-hidden="true" title="Startsidan"></i>
                <span class="sr-only">Startsidan</span>
            </a>
            <p>Return to previous page !</p>
        </div>

    </div>
</center>