@model IEnumerable<KRAM1.Models.Picture>
@{
    ViewBag.Title = "Home Page";
}

<div class="grid">

    @foreach (var img in Model.OrderBy(x => x.Id))
    {
        <div class="grid-sizer"></div>
        <div class="grid-item">
            <input type="hidden" value="@img.Id" />
            <a href='@Url.Action("FullImage", "Home", new { fileName = img.Id})'>
                <img src="@img.PicUrl" alt="Picture coming soon" />
            </a>
        </div>
    }

</div>
